:root{
    --main-bg-color: #edf5fe;
    --border-color: #0288d147;    
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: var(--main-bg-color);
    height:100%;
    margin:0;
    padding:0;
}

body, .drop-zone{
    font-family: system-ui;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.upload-container{
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0px 20px 20px 2px #0000002e;
}   

.dragged.drop-zone{
    background-color: var(--main-bg-color);
    border-color: #0288d1;
}

.drop-zone{
    width:500px;
    min-height: 200px;
    border: 2px dashed var(--border-color);
    border-radius: 10px;
    margin:30px;
    transition: all .2s ease;
}
.icons-container {
    width:75px;
    height:100px;
    position: relative;
}

.icons-container img{
    width:75px;
    position:absolute;
    transform-origin: bottom;
    transition: transform .250ms ease-in-out;
}

.icons-container .center{
    z-index:2;
}

.icons-container .right , .icons-container .left{
    filter: grayscale(0.5);
}
.dragged .icons-container .right{
    transform: rotate(10deg) translateX(20px) scale(0.9);
}

.dragged .icons-container .left{
    transform: rotate(-10deg) translateX(-20px) scale(0.9);
}

.dragged .icons-container .center{
    transform: translateY(-5px);
}

#fileInput{
    display: none;
}

.browseBtn{
    color:  #0288d1;
    cursor: pointer;
}